@import "tailwindcss";


@keyframes bubble {
    0% {
      transform: translateY(0) scale(1);
      opacity: 0.5;
    }
    50% {
      opacity: 0.3;
    }
    100% {
      transform: translateY(-100vh) scale(1.2);
      opacity: 0;
    }
  }
  
  .animate-bubble {
    animation-name: bubble;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
:root{
  --background:rgba(18,18,18);
  --sidebar:rgba(24,24,24);
  --gray-1:rgba(64,64,64);
  --gray-2:rgba(40,40,40);
  --gray-3:rgba(179,179,179);
  --light:rgba(255,255,255);

  --primary-blue:rgb(58, 89, 209);
}


